@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
}
:root{
  --body_background: #F4F1F8;
  --body_color: #000000;
  --link_color: #070181;
}

[data-theme="dark"] {
  --body_background: #000000;
  --body_color: #FFFFFF;
  --link_color: #FFFFFF;
}

body{
  background-color: #F4F1F8;
}

.loading{
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #747bff;
  transform: translateX(-16vw);
  position: relative;
  animation: slide 1.5s ease infinite forwards;
}

.loading::before{
  content: '';
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #747bff;
  position: absolute;
  left: -4vw
}

.loading::after{
  content: '';
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #747bff;
  position: absolute;
  left: 4vw;
}

@keyframes slide {
  from{
    transform: translateX(-16vw);
  }
  to{
    transform: translateX(16vw);
  }
}

@media print {
  .print-bg {
    background-color: #e5e7eb !important; /* Example: Tailwind bg-gray-200 */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

.input-field{
  @apply w-[300px] xs:w-[330px] sm:w-[360px] border border-[#ccc] rounded-md outline-none
}
.reset-btn{
  @apply bg-[#070181] py-2 px-5 font-Montserrat rounded-md text-white font-medium text-center
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #facc15;
  border-color: #facc15;
}

.close-drawer{
  margin-top: 10px
}