@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
}

body{
  background-color: #F4F1F8;
}

.loading{
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #747bff;
  transform: translateX(-16vw);
  position: relative;
  animation: slide 1.5s ease infinite forwards;
}

.loading::before{
  content: '';
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #747bff;
  position: absolute;
  left: -4vw
}

.loading::after{
  content: '';
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #747bff;
  position: absolute;
  left: 4vw;
}

@keyframes slide {
  from{
    transform: translateX(-16vw);
  }
  to{
    transform: translateX(16vw);
  }
}

@media print {
  .print-bg {
    background-color: #e5e7eb !important; /* Example: Tailwind bg-gray-200 */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

.input-field{
  @apply mb-2 w-[300px] xs:w-[330px] sm:w-[360px] border border-[#ccc] rounded-md focus:ring-2 focus:ring-[#070181] outline-none
}
.reset-btn{
  @apply bg-[#070181] py-2 px-5 font-Montserrat mt-3 rounded-md text-white font-medium text-center
}